
*.CopyComplete
*.ide-shm
*.ide-shm
*.dll
Moist_UwU/.vs/Someren1819/v16/.suo
Moist_UwU/.vs/Someren1819/v16/Server/sqlite3/storage.ide-shm
Moist_UwU/SomerenDAL/bin/Debug/SomerenDAL.dll
Moist_UwU/SomerenDAL/bin/Debug/SomerenDAL.pdb
Moist_UwU/SomerenDAL/bin/Debug/SomerenModel.dll
Moist_UwU/SomerenDAL/bin/Debug/SomerenModel.pdb
Moist_UwU/SomerenDAL/obj/Debug/SomerenDAL.csproj.FileListAbsolute.txt
Moist_UwU/SomerenDAL/obj/Debug/SomerenDAL.csprojAssemblyReference.cache
Moist_UwU/SomerenDAL/obj/Debug/SomerenDAL.dll
Moist_UwU/SomerenDAL/obj/Debug/SomerenDAL.pdb
Moist_UwU/SomerenLogic/bin/Debug/SomerenDAL.dll
Moist_UwU/SomerenLogic/bin/Debug/SomerenDAL.dll.config
Moist_UwU/SomerenLogic/bin/Debug/SomerenDAL.pdb
Moist_UwU/SomerenLogic/bin/Debug/SomerenLogic.dll
Moist_UwU/SomerenLogic/bin/Debug/SomerenLogic.pdb
Moist_UwU/SomerenLogic/bin/Debug/SomerenModel.dll
Moist_UwU/SomerenLogic/bin/Debug/SomerenModel.pdb
Moist_UwU/SomerenLogic/obj/Debug/SomerenLogic.csproj.FileListAbsolute.txt
Moist_UwU/SomerenLogic/obj/Debug/SomerenLogic.csprojAssemblyReference.cache
Moist_UwU/SomerenLogic/obj/Debug/SomerenLogic.dll
Moist_UwU/SomerenLogic/obj/Debug/SomerenLogic.pdb
Moist_UwU/SomerenModel/bin/Debug/SomerenModel.dll
Moist_UwU/SomerenModel/bin/Debug/SomerenModel.pdb
Moist_UwU/SomerenModel/obj/Debug/SomerenModel.csproj.FileListAbsolute.txt
Moist_UwU/SomerenModel/obj/Debug/SomerenModel.csprojAssemblyReference.cache
Moist_UwU/SomerenModel/obj/Debug/SomerenModel.dll
Moist_UwU/SomerenModel/obj/Debug/SomerenModel.pdb
Moist_UwU/SomerenUI/bin/Debug/SomerenDAL.dll
Moist_UwU/SomerenUI/bin/Debug/SomerenDAL.dll.config
Moist_UwU/SomerenUI/bin/Debug/SomerenDAL.pdb
Moist_UwU/SomerenUI/bin/Debug/SomerenLogic.dll
Moist_UwU/SomerenUI/bin/Debug/SomerenLogic.pdb
Moist_UwU/SomerenUI/bin/Debug/SomerenModel.dll
Moist_UwU/SomerenUI/bin/Debug/SomerenModel.pdb
Moist_UwU/SomerenUI/bin/Debug/SomerenUI.exe
Moist_UwU/SomerenUI/bin/Debug/SomerenUI.pdb
Moist_UwU/SomerenUI/obj/Debug/SomerenUI.csproj.FileListAbsolute.txt
Moist_UwU/SomerenUI/obj/Debug/SomerenUI.csproj.GenerateResource.Cache
Moist_UwU/SomerenUI/obj/Debug/SomerenUI.csprojAssemblyReference.cache
Moist_UwU/SomerenUI/obj/Debug/SomerenUI.exe
Moist_UwU/SomerenUI/obj/Debug/SomerenUI.pdb
